<div class="container">
    <div class="row card br-40 mt-3">
        <div class="col-md-12 py-5 px-5">
            <p class="fs-3 ">
                Добро пожаловать на страницу администратора! Здесь вы можете взаимодействовать со всеми компонентами сайта!
            </p>
        </div>
    </div>
    <div class="row mt-4">
        <div class="col-md-2">
        </div>
        <div class="col-md-8">
            <div class="table-responsive">
                <table class="table table-hover table-dark">
                    <thead>
                        <tr>
                            <th scope="col" class="text-center">Компонент</th>
                            <th scope="col">Действия</th>
                            <th scope="col">Ссылка</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td scope="row" class="ps-5">Пользователи</td>
                            <td>Просмотр, удаление</td>
                            <td>
                                <a class="btn btn-primary br-40" role="button" asp-controller="User" asp-action="GetAllUsers">
                                    Перейти
                                </a>
                            </td>
                        </tr>
                        <tr>
                            <td scope="row" class="ps-5">Коэффициенты</td>
                            <td>Просмотр, удаление, изменение</td>
                            <td>
                                <a class="btn btn-primary br-40" role="button" asp-controller="Coefficient" asp-action="GetAllCoefficients">
                                    Перейти
                                </a>
                            </td>
                        </tr>
                        <tr>
                            <td scope="row" class="ps-5">Матчи</td>
                            <td>Просмотр, удаление, изменение, создание</td>
                            <td>
                                <a class="btn btn-primary br-40" role="button" asp-controller="Match" asp-action="GetMatchesByAdmin">
                                    Перейти
                                </a>
                            </td>
                        </tr>
                        <tr>
                            <td scope="row" class="ps-5">Команды</td>
                            <td>Просмотр, удаление, изменение, создание</td>
                            <td>
                                <a class="btn btn-primary br-40" role="button" asp-controller="Team" asp-action="GetAllTeamsByAdmin">
                                    Перейти
                                </a>
                            </td>
                        </tr>
                        <tr>
                            <td scope="row" class="ps-5">Денежные выводы</td>
                            <td>Просмотр</td>
                            <td>
                                <a class="btn btn-primary br-40" role="button" asp-controller="Withdrawing" asp-action="GetAllWithdrawings">
                                    Перейти
                                </a>
                            </td>
                        </tr>
                        <tr>
                            <td scope="row" class="ps-5">Ставки</td>
                            <td>Просмотр</td>
                            <td>
                                <a class="btn btn-primary br-40" role="button" asp-controller="Bet" asp-action="GetAllBets">
                                    Перейти
                                </a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="col-md-2">
        </div>
    </div>
</div>
