@using FootballMatchPredictor.Domain.ViewModels.Error
@model ErrorViewModel
@{
    ViewData["Title"] = "Error";
}

<div class="container">
    <div class="row">
        <div class="col-md-12 text-center">
            <img src="~/images/" class="img-fluid" style="height:300px;"/>
        </div>
    </div>
</div>

<h1 class="text-danger">Возникла ошибка.</h1>
<h2 class="text-danger">Во время обработки Вашего запроса произошла ошибка.</h2>

@if (Model.StatusCode != null)
{
    <p>
        <strong>Код:</strong> <code>@Model.StatusCode</code>
    </p>
}

<p>
    @Model.ErrorMessage
</p>
