@using FootballMatchPredictor.Domain.ViewModels.Auth
@model LoginViewModel

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <form id="loginForm">
                <div class="mb-3">
                    <label for="exampleInputEmail1" class="form-label">Почта</label>
                    <input type="email" class="form-control" asp-for="Email" aria-describedby="emailHelp">
                    <div id="emailHelp" class="form-text">Мы никогда не делимся вашей почтой с кем то ещё.</div>
                </div>
                <div class="mb-3">
                    <label for="exampleInputPassword1" class="form-label">Пароль</label>
                    <input type="password" asp-for="Password" class="form-control" id="exampleInputPassword1">
                </div>
                <button type="button" class="btn bg-indigo text-white" style="height:40px;"
                        onclick="doActionWithPopupWindow(event, { url: '/Auth/Login', formId: 'loginForm' })">
                    Логин
                </button>
            </form>
        </div>
    </div>
</div>
